{% extends 'admintemp/base.html' %}
{% load staticfiles %}

{% block header %}
  <title>Daily Report</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style type="text/css">
     .ui-state-holiday .ui-state-default, .ui-datepicker-week-end .ui-state-default {
    color: red;
}
.ui-datepicker-header
  {
    background: #4386f2;
  }

.table-responsive
    {
      padding-top: 50px;
    }
  </style>

{% endblock %}
{% block content %}

<form class="daily" method="post" action="/dailyreport/">
{% csrf_token %}
<input type="text" id="datepicker" name="datef" required="true" placeholder="Date">

<button class="btn btn-primary" style="margin-left:2%;">Send</button>
 </form>

 <div class="table-responsive">          
  <table class="table table-hover table-bordered">
    <thead bgcolor="#6ba3ff">
  <tr>
    <th>eid</th>
    <th>status</th> 
    <th>timein</th>
    <th>timeout</th>
  </tr>
  </thead>
    {% for item in dalist %}
       <tr>
        <td>{{ item.emp_id.fname }} {{ item.emp_id.lname }}</td>
        {% if item.status == -1 %}
            <td class="text-left" bgcolor="#afafa5">Terminated</td>
        {% elif item.status == 0 %}
            <td class="text-left" bgcolor="#fc4949">Absent</td>
        {% elif item.status == 1 %}
            <td class="text-left" >Present</td>
        {% elif item.status == 2 %}
            <td class="text-left" bgcolor="#e0be26">Sick Leave</td>
        {% elif item.status == 3 %}
            <td class="text-left" bgcolor="#ce2ba0">Casual Leave</td>
        {% elif item.status == 4 %}
            <td class="text-left" bgcolor="#607bff">Earned Leave</td>
        {% elif item.status == 5 %}
            <td class="text-left" bgcolor="#b6db9b">Persent*</td>
        {% else %}
            <td class="text-left" bgcolor="#f2a529">Other Leave</td>
        {% endif %}        
        <td>{{ item.time_in }}</td>
        <td>{{ item.time_out }}</td>
       </tr>
    {% endfor %}
</table>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  var disabledDates = ['01/02/2017', '1/1/2017'];

$(function(){

    $('#datepicker').datepicker({

        dateFormat: 'yy-mm-dd',
        beforeShowDay: editDays

    });


    function editDays(date) {
        for (var i = 0; i < disabledDates.length; i++) {
            if (new Date(disabledDates[i]).toString() == date.toString()) {             
                 return [false];
            }
        }
         var weekenddate = $.datepicker.noWeekends(date);
         return weekenddate; 
     }   

});

  </script>

{% endblock %}
 
 