<!DOCTYPE html>
{% extends 'admintemp/base.html' %}
{% load staticfiles %}
{% block header %}
	<title> unauthorised absence </title>
	<style type="text/css">
    .table-responsive
    {
      padding-top: 50px;
    }

  </style>
{% endblock %}


{%block content %}
<h2 style="color:#3d3e3f;">Unauthorised Leave</h2>
<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead bgcolor="#6ba3ff">
  <tr>
    <th>Eid</th>
    <th>Date</th>
    <th>Approve</th>
  </tr>
  </thead>
    {% for item in ulist %}
       <tr>
        <td>{{ item.emp_id }}</td>
        <td>{{ item.date }}</td>
        <!--if else is byproduct of shoddy copy paste. code reusablity ftw! -->
        {% if item.confirmation == 1 %}
            <td>approved</td>
        {% else %}
            <td>
                <form action="/editunauthorised/" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ item.emp_id }}" name="emp_id"/>
                <input type="hidden" value="{{ item.date }}" name="date"/>
                <select name="status">
                <option value="2">Sick Leave</option>
                <option value="3">Casual Leave</option>
                <option value="4">Earned Leave</option>
                <option value="5">Present</option>
                </select>
                <input type="submit" class="btn btn-warning" value=Change name="mybtn">
                </form>
            </td>
        {% endif %}
       </tr>
    {% endfor %}
</table>
</div>
{% endblock %}
