<!DOCTYPE html>
<html>
<head>
	<title>welcome</title>
</head>
<body>
welcome 
<table style="width:100%">
  <tr>
    <th>Leave Type</th>
    <th>Date</th> 
    <th>Reason</th>
    <th>name</th>
    <th>approve</th>
  </tr>
    {% for item in rlist %}
       <tr>
        <td>{{ item.l_type }}</td>
        <td>{{ item.date1 }}</td>
        <td>{{ item.reason }}</td>
        <td>{{ item.emp_id.fname }}</td>
        {% if item.confirmation == 1 %}
            <td>approved</td>
        {% else %}
            <td>
                <form action="/adminapprove_submit/" method="post">
                {% csrf_token %}
                <input type="hidden" value={{ item.l_id }} name="l_id"/>
                <input type="submit" class="btn" value=Approve name="mybtn">
                </form>
            </td>
        {% endif %}
       </tr>
    {% endfor %}
</table>
<a href="/adminshome/">go back home</a>
<a href="/dailyreport/">daily report</a>
<a href="/customreport/">custom report</a>
<a href="/adminapprove_leave/">approve leaves</a>
<a href="/unauthorised/">edit unauthorized</a>
<a href="/grant other leave/">grant other leave</a>
<a href="/adduser/">add new employee</a>
<a href="/logout/">logout</a>
<a href="/edituser/">edit employees </a>
<a href="/logs/">logs</a>


</body>
</html>
