<!DOCTYPE html>
<html>
<head>
	<title>welcome</title>
</head>
<body>
welcome 
<table style="width:100%">
  <tr>
    <th>Leave Type</th>
    <th>Date</th> 
    <th>Reason</th>
    <th>name</th>
    <th>approve</th>
  </tr>
    {% for item in rlist %}
       <tr>
        <td>{{ item.l_type }}</td>
        <td>{{ item.date1 }}</td>
        <td>{{ item.reason }}</td>
        <td>{{ item.emp_id.fname }}</td>
        {% if item.confirmation == 1 %}
            <td>approved</td>
        {% else %}
            <td>
                <form action="/approve_submit/" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ item.l_id }}" name="l_id"/>
                <input type="submit" class="btn" value=Approve name="mybtn">
                </form>
            </td>
        {% endif %}
       </tr>
    {% endfor %}
</table>
<a href="/home/">go back home</a>

<a href="/lrequest/">leave request</a>
<a href="/logout/">logout</a>
<a href="/overview/">overview</a>
<a href="/approve_leave/">approve leave</a>
</body>
</html>
