<html lang="en">
<head>

<title> LOGS </title> 
</head>
<body>

<table style="width:100%">
  <tr>
    <th>Timestamp</th>
    <th>Data</th> 
    <th>admin id</th>
  </tr>
    {% for item in loglist %}
       <tr>
        <td>{{ item.logdate }}</td>
        <td>{{ item.logdata}}</td>
        <td>{{ item.admin_id }}</td>
       </tr>
    {% endfor %}
</table>
<a href="/dailyreport/">daily report</a>
<a href="/customreport/">custom report</a>
<a href="/adminapprove_leave/">approve leaves</a>
<a href="/unauthorised/">edit unauthorized</a>
<a href="/grant other leave/">grant other leave</a>
<a href="/adduser/">add new employee</a>
<a href="/logout/">logout</a>
<a href="/edituser/">edit employees </a>
<a href="/logs/">logs</a>
 
</body>
</html>
