
{% extends 'attendance/base.html' %}
{% load staticfiles %}
{% block header %}
  <title>Overview</title>
{% endblock %}


{% block content %}
  <div class="table-responsive">          
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
    <th>Leave Type</th>
    <th>Date</th> 
    <th>Reason</th>
    <th>Status</th>
      </tr>
    </thead>
    <tbody>
 {% for item in rlist %}
      <tr >
        <td class="text-left">{{ item.l_type }}</td>
        <td class="text-left">{{ item.date1 }}</td>
        <td class="text-left">{{ item.reason }}</td>
        {% if item.confirmation == 1 %}
            <td class="text-left">approved</td>
        {% else %}
            <td class="text-left">pending</td>
        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
                             
